<h1>Bienvenido a la Galería</h1>
<p>La galería es algo excepcional.</p>
<p>wopity woop</p>
<p><a href="https://www.youtube.com/watch?v=GFq6wH5JR2A">POR FAVOR DAME CLICK</a></p>
<%= link_to "Ver Resumen de la Galería", galeria_index_path, class: "btn btn-primary" %>
